@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@350&display=swap');

*{
    font-family: 'Nunito', sans-serif;
}

body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header{
    background-color: #FFF;
    border-bottom: 1px solid #ccc;
}
.msg{
    background-color: #d4edda;
    color:#155724;
    border: 1px solid;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

.row{
    margin: 0;
}

.container-fluid{
    padding: 0;
}

/* NAVBAR */
#navbar{
    justify-content: space-between;
    padding: 5px 0;
}

#navbar a{
    font-size: 18px;
    color: #757575;
    margin-right: 25px;
}

#navbar a:hover{
    color: black;
}

#search-container{
    /* TOP RIGHT BOTTOM E LEFT */
    padding: 20px 0px 0px 50px;
    width: 600px;
}
/* CAMPO DE PESQUISA */
#search{
    width: 300px;
}
.campo{
    display: flex;
    flex-direction: column-reverse;
}

#botao-pesquisar{
    margin-top: 5px;
}

/* CLIENTES LIST */

#lista-container{
    padding: 50px;
}

#lista-container h2{
    margin-bottom: 10px;
}
#cards-container .card{
    margin:5px;
    padding: 0;
    flex: 1 1 0;
    max-width: 18%;
    border-radius: 10px;
}

/* FOOTER */
footer{
    text-align: center;
    background-color: #353e48;
    color: #FFF;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
    margin: 0;
}

#orcamento_id{
    background:transparent;
    border:none;
    outline:none;
    display:block;
    height:0px;
    width:0px;
    cursor:pointer;
}

.card-body{
    border: 1px solid rgb(238, 238, 238);
    margin-left:20px;border-radius:5px;
    background-color:rgb(238, 238, 238);
}
